
  
       <div class="card-box">
        <form [formGroup]="AddDesignationForm"  (ngSubmit)="SaveDesignation()" >
        <div class="row">
            <h2 style="text-align: center;">Add/Edit Designation</h2>
        </div>
        
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="txtcode">slNo</label>
                    <input type="text" id="txtcode" class="form-control" formControlName="slNo" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="txtcode">designationName</label>
                    <input type="text" id="txtcode" class="form-control" formControlName="designationName" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="txtcode">roleName</label>
                    <input type="text" id="txtcode" class="form-control" formControlName="roleName" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="txtcode">departmentName</label>
                    <input type="text" id="txtcode" class="form-control" formControlName="departmentName" autocomplete="off"/>
                </div>
            </div>
        </div>
       
       <div class="row">
       
        <div class="offset-lg-3 col-lg-5">
            <div class="d-grid gap-4 d-md-block">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                <button type="update" [disabled]="!AddDesignationForm.valid" class="btn btn-primary btn-lg btn-block " (click)="UpdateDesign()" >Update</button>
            </div>
        </div>
       </div>
        
    </div>
   
    </form>
    </div>
    