<div class="card-box">
    <form [formGroup]="AddEmployeeForm"  (ngSubmit)="SaveEmployee()" >
    <div class="row">
        <h2 style="text-align: center;">Add Employee</h2>
    </div>
    
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="form-group">
                <label for="txtcode">EmployeeID</label>
                <input type="text" id="txtcode" class="form-control" formControlName="employeeID"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="form-group">
                <label for="txtcode">EmployeeName</label>
                <input type="text" id="txtcode" class="form-control" formControlName="employeeName"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="form-group">
                <label for="txtcode">Phone Number</label>
                <input type="text" id="txtcode" class="form-control" formControlName="phoneNumber"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="form-group">
                <label for="txtcode">MailId</label>
                <input type="text" id="txtcode" class="form-control" formControlName="mailId"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="form-group">
                <label for="txtcode">Address</label>
                <input type="text" id="txtcode" class="form-control" formControlName="address"/>
            </div>
        </div>
    </div>
    <div class="offset-lg-3 col-lg-5">
        <div class="d-grid gap-4 d-md-block">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
             <button type="update" class="btn btn-primary btn-lg btn-block" (click)="UpdateEmploy()" >Update</button>
        </div>
    </div>
       
    </div>
</form>
</div>
